.header {
  background: url('/img/bg-header-desktop.svg') no-repeat var(--secondary-color);
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.headerMenu {
  position: absolute;
  left: 20px;
  top: 20px;
}

/* Me */
.headerMain {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.title {
  color: var(--white);
  font-size: 2.4rem;
  font-family: 'Satoshi Regular';
  text-align: center;
  margin: 0;
}

.profession {
  color: var(--white);
  font-size: 2rem;
  font-family: 'Tanker';
  letter-spacing: 1px;
  margin: 0;
  font-weight: 400;
}

.linksContainer {
  display: flex;
  gap: 2rem;
}

.socialLink {
  filter: invert(90%) sepia(1%) saturate(1449%) hue-rotate(320deg) brightness(111%) contrast(98%);
}

.btnCV {
  font-family: 'Satoshi Regular';
  color: var(--secondary-color);
  font-size: 1.25rem;
  padding: 9px 12px;
  background-color: var(--white);
  border-radius: 6px;
  margin-top: 1rem;
  border: 1px solid transparent;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

@media (hover: hover) {
  .btnCV:hover {
    background-color: transparent;
    border-color: var(--white);
    color: var(--white);
  }

  .socialLink:hover {
    filter: invert(91%) sepia(15%) saturate(594%) hue-rotate(91deg) brightness(97%) contrast(95%);
  }
}

/* About me button */
.linkAboutMe {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -30%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--white);
  transition: gap 0.3s ease-in-out;
}

@media (hover: hover) {
  .linkAboutMe:hover {
    gap: 0.7rem;
  }
}

/* QUITAR EL EL BOTÓN EN DISPOSITIVOS */
