.person {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  padding: 2rem;
  gap: 1rem;
}

.title {
  font-family: "Satoshi Bold";
  font-size: 1.5rem;
  margin: 0;
  color: var(--primary-color);
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  filter: invert(90%) sepia(1%) saturate(1449%) hue-rotate(320deg) brightness(111%) contrast(98%);
}

@media (hover: hover) {
  .logo:hover {
    filter: invert(91%) sepia(15%) saturate(594%) hue-rotate(91deg) brightness(97%) contrast(95%);
  }
}

.descriptionContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
}

.description {
  text-align: center;
  color: var(--white);
  font-family: "Satoshi Regular";
  font-size: 1.2rem;
  line-height: 30px;
}
