.projectsSection {
  background-color: var(--secondary-color);
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      var(--secondary-color) 20%,
      var(--secondary-color) 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        var(--secondary-color) 20%,
        var(--secondary-color) 80%,
        transparent 80%,
        transparent
      )
      25px 25px,
    linear-gradient(var(--primary-color) 2px, transparent 2px) 0 -1px,
    linear-gradient(90deg, var(--primary-color) 2px, var(--secondary-color) 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1240px;
  padding: 5rem 0;
}

.title {
  display: block;
  background-color: var(--primary-color);
  margin: 0 auto 60px;
  text-align: center;
  padding: 10px;
  color: var(--secondary-color);
  border-radius: 6px;
  width: fit-content;
  font-family: 'Satoshi Regular';
  font-size: 1.35rem;
}

@media screen and (max-width: 1240px) {
  .container {
    padding: 3rem 1.5rem;
  }
}
