.inpirationsSection {
  padding: 6rem 0 5rem;
  background-color: var(--secondary-color);
  opacity: 1;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.listOfPeople {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px 8%;
}

.title {
  display: block;
  color: var(--primary-color-bright);
  margin: 0 auto 60px;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  width: fit-content;
  font-family: "Satoshi Regular";
  font-size: 3rem;
}
