:root {
  --primary-color: #adf0d1;
  --primary-color-bright: #00ff95;
  --secondary-color: #002;
  --white: #fcf7f4;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Satoshi Bold";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Satoshi Regular";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Tanker";
  src: url("/fonts/Tanker-Regular.woff2") format("woff2");
}
